* {
  margin: 5px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 750px;
  background-color: transparent;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.btn-primary {
  width: 130px;
  margin-left:auto;
  margin-top: 20px;
}

.btn-secondary {
  margin-right: auto;
  margin-top: 5px;
}

.btn-success {
  width: 140px;
  margin-right: auto;
  margin-left: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.input-group {
  width: 100%;
  max-width: 368px;
}

.buttons .btn-danger {
  width: 130px;
}

.buttons .btn-success {
  width: 100px;
  margin-right: 10px;
}

a {
  font-size:20px;
  margin-right: 10px;
}

.my-class {
  font-weight: bold;
}
